<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="CSharpRecipesConfiguration" type="CookBook.Ch4.CSharpRecipesConfigurationSection, CookBook"/>
    </configSections>
    <CSharpRecipesConfiguration CurrentEdition="4">
        <Chapters>
            <add Number="1" Title="Classes and Generics" />
            <add Number="2" Title="Collections, Enumerators, and Iterators" />
            <add Number="3" Title="Data Types" />
            <add Number="4" Title="LINQ &amp; Lambda Expressions" />
            <add Number="5" Title="Debugging and Exception Handling" />
            <add Number="6" Title="Reflection and Dynamic Programming" />
            <add Number="7" Title="Regular Expressions" />
            <add Number="8" Title="Filesystem I/O" />
            <add Number="9" Title="Networking and Web" />
            <add Number="10" Title="XML" />
            <add Number="11" Title="Security" />
            <add Number="12" Title="Threading, Synchronization, and Concurrency" />
            <add Number="13" Title="Toolbox" />
        </Chapters>
        <Editions>
            <add Number="1" PublicationYear="2004" />
            <add Number="2" PublicationYear="2006" />
            <add Number="3" PublicationYear="2007" />
            <add Number="4" PublicationYear="2015" />
        </Editions>
    </CSharpRecipesConfiguration>
</configuration>
